<!--- NAVBAR HEADER -->
<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
          ZendusForm
        </a>
      </div>
      <!-- Left elements -->
  
      <!-- Center elements -->
      <ul class="navbar-nav mb-2 mb-lg-0 flex-row d-none d-md-flex center-navbar">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fas fa-light fa-list-ul"></i></span>
            Form
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fas fa-users"></i></span>
            Customers
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fas fa-waveform"></i></span>
            Submission
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fas fa-light fa-clock-rotate-left"></i></span>
            History
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fas fa-light fa-square-poll-vertical"></i></span>
            Reports
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fas fa-light fa-square-poll-vertical"></i></span>
            Workflow
          </a>
        </li>
      </ul>
      <!-- Center elements -->
  
      <!-- Right elements -->
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-bell"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fas fa-light fa-arrow-right-from-bracket"></i></span>
          </a>
        </li>
        
      </ul>
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->